#my FlaskProject
emptyHTML.html
myFlaskProject/.myvenv
myFlaskProject/__pycache__
myFlaskProject/emptyHTML.html
myFlaskProject/webApp-Directions.py
todoOrganizeDevBlog_dot_txt/
todoOrganizeDevBlog_dot_txt/*.pyc
UogIdeas/
UogIdeas/*.pyc
*.pyc

#renameProject
renameProject/*.pyc
renameProject/__pycache__
renameProject/copyNne2.py

#any
.myenv_main
__pycache__
copyNne2.py

#
copiedFlaskBlueprintTutorial/

#
businessResources/

#
grabDirName.py

#new Dir
flask_app_tutorial/*.pyc
flask_app_tutorial/__pycache__
flask_app_tutorial/instance/
#new Dir IN flask_app_tutorial
flask_app_tutorial/flask_app_crud/*.pyc
flask_app_tutorial/flask_app_crud/__pycache__

#might need to delete this at some pointt from .gitignore file
nextCommit.txt

/flask_app_tutorial/.git/

#
flask_app_tutorial_temporary_Placeholder_Name/.ve-temporary-Placeholder

#
flask_app_tutorial_temporary_Placeholder_Name/requests/.ve-requests
flask_app_tutorial_temporary_Placeholder_Name/requests/app.py