#my FlaskProject
emptyHTML.html
myFlaskProject/.myvenv
myFlaskProject/__pycache__
myFlaskProject/emptyHTML.html
myFlaskProject/webApp-Directions.py
todoOrganizeDevBlog_dot_txt/
todoOrganizeDevBlog_dot_txt/*.pyc
UogIdeas/
UogIdeas/*.pyc
*.pyc

#renameProject
renameProject/*.pyc
renameProject/__pycache__
renameProject/copyNne2.py

#any
.myenv_main
__pycache__
copyNne2.py